canvas {
    border: 1px solid black;
}

button {
    margin: 5px;
    width: 80px;
    height: 80px;
}

#svgcanvas {
    position: relative;
    left: 5px;
    top: 5px;
    cursor: crosshair;
}

#controls {

}

#mouseinfospan {
    padding: 5px;
    height: 70px;
}

#trackinfospan {
    padding: 5px;
    height: 110px;
}

#summary {

}

#words {
    font-size: 20px;
    font-family: monospace;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

#left {
    left: 0;
}

#right {
    left: 500px;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 100px;
}

tr {
    padding: 5px;
}

th {
    border: 1px solid black;
    padding: 5px;
    background-color: rgb(200,200,200);
}

td {
    padding: 5px;
    border: 1px solid black;
    text-align: center;
}

.tabledark {
    background-color: rgb(220,220,220);
}

.tablep {
    font-size: 20px;
    width: 40px;
    text-align: center;
}

.tableinput {
    border: none;
    font-size: 20px;
    width: 40px;
    text-align: center;
}
